.hero {
  background-image: url('../assets/img/hero-a.jpg');
  @media (min-width: $medium-screen) {
    background-image: url('../assets/img/hero-b.jpg');
  }
}

.hero__component-title {
  max-width: none; // no need to force linebreak in ultra long title
}

.example-mapit {
  padding-top: 5em;
  background-image: url('../assets/img/example-mapit-icon.png');
  @media ($high-dpi-screen)  {
    background-image: url('../assets/img/example-mapit-icon@2.png');
  }
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 83px 60px;

  text-decoration: none;

  @media (max-width: $medium-screen) {
    /* These use the .column-one-of-four layout, except these need to be two columns on small screens, not one*/
    width: 47.478070176%;
    display: inline-block;
    margin-right: 5.043859649%; /* 46px */
    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    h3 {
      color: $colour_red;
    }
  }

  h3 {
    color: $colour_dark_blue;
  }

  p {
    margin-bottom: 0;
  }

}

.example-mapit-icon {
    max-width: 5.1875em;
}
