<nav class="inner-navigation">
    <ul>
        <li><a href="{{ site.baseurl }}/docs/"><h2>Using MapIt</h2></a></li>
        <li><a href="{{ site.baseurl }}/docs/as-a-service/">MapIt as a service</a></li>
        <li>
            <a href="{{ site.baseurl }}/docs/self-hosted/">Self-hosted MapIt</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/docs/self-hosted/install/">Installing MapIt</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/install/ami/">Using an AMI</a></li>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/install/install-script/">Install script</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/docs/self-hosted/import/">Importing data</a>
                    <ul>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/import/boundaries/">Boundaries</a></li>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/import/postal-codes/">Postal codes</a></li>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/import/gadm/">From GADM</a></li>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/import/uk/">UK data (Ordnance Survey/ONSPD)</a></li>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/import/norway/">Norway data (OSM/N5000)</a></li>
                        <li><a href="{{ site.baseurl }}/docs/self-hosted/import/global/">Global (OSM)</a></li>
                    </ul>
                </li>
                <li><a href="{{ site.baseurl }}/docs/self-hosted/how-data-is-stored/">How data is stored</a></li>
                <li><a href="{{ site.baseurl }}/docs/self-hosted/view-multiple/">Vizualize multiple areas</a></li>
            </ul>
        </li>
        <li><h2>Getting help</h2></li>
        <li><a href="https://github.com/mysociety/mapit">GitHub</a></li>
        <li class="inline-links"><a href="irc://irc.mysociety.org/mschat">IRC</a> (<a href="http://www.irc.mysociety.org/">web</a>)</li>
    </ul>
</nav>
